<div class="container-fluid">
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand">Dialogue Framework IDE</a>
			</div>
		</div>
	</nav>
	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-7">
			<div class="editor-holder">
				<div class="editor-header">
					<ul>
						<li> <span class="glyphicon glyphicon-edit"></span> <strong>Edit File</strong></li>
					</ul>
				</div>
				<div id="editor" class="editor">Hello Code</div>
			</div>
		</div>
		<div class="col-md-3">
			<!-- placeholder for now -->
		</div>
	</div>
</div>


